* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* 10px / 16px = 0.675 = 62.5% */
  font-size: 62.5%;
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1.4;
  color: var(--clr-very-dark-cyan-);
}

a {
  text-decoration: none;
}

:root {
  --clr-pink-: hsl(322, 100%, 66%);
  --clr-pale-cyan-: hsl(193, 100%, 96%);
  --clr-very-dark-cyan-: hsl(192, 100%, 9%);
  --clr-grayish-blue-: hsl(208, 11%, 55%);
}

.container {
  max-width: 120rem;
  margin: 0 auto;
}

.grid {
  display: grid;
  row-gap: 4.8rem;
  column-gap: 6.4rem;
}

.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid--4-cols {
  grid-template-columns: repeat(4, 1fr);
}

.heading-primary {
  font-size: 4.4rem;
  font-family: "Poppins", sans-serif;
  letter-spacing: -1px;
  margin-bottom: 3.2rem;
  /* font-weight: 700; */
}

.heading-secondary {
  font-size: 3rem;
  letter-spacing: -1px;
  opacity: 0.9;
  margin-bottom: 1.6rem;
}

.heading-tertiary {
  font-size: 3.6rem;
  letter-spacing: -1px;
  margin-bottom: 3.6rem;
}

.description-primary,
.description-secondary {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.6;
  margin-bottom: 2.4rem;
}

.btn-try {
  padding: 1.2rem 4.8rem;
  border: none;
  border-radius: 100px;
  background-color: #fff;
  font-size: 1.6rem;
  font-weight: 600;
  cursor: pointer;
  box-shadow: 2px 2px 12px 4px rgba(0, 0, 0, 0.09);
  transition: all 0.3s;
}

.btn-primary {
  cursor: pointer;
  padding: 1.6rem 4.8rem;
  border: none;
  border-radius: 100px;
  background-color: var(--clr-pink-);
  color: #fff;
  font-size: 1.6rem;
  font-weight: 600;
  transition: all 0.3s;
}

.btn-secondary {
  cursor: pointer;
  border: none;
  border-radius: 10rem;
  font-size: 1.8rem;
  background-color: var(--clr-pink-);
  padding: 1.8rem 4.8rem;
  color: #fff;
  transition: all 0.3s;
}

.btn-primary:hover,
.btn-secondary:hover,
.btn-try:hover {
  opacity: 0.7;
}

.padding--tb-md {
  padding: 4.8rem 0;
}

.padding--rl-md {
  padding: 0 4.8rem;
}
