:root {
  --clr-strong-cyan: hsl(171, 66%, 44%);
  --clr-light-blue: hsl(233, 100%, 69%);
  --clr-dark-graying-blue: hsl(210, 10%, 33%);
  --clr-light-graying-blue: hsl(195, 12%, 94%);
  --clr-graying-blue: hsl(201, 11%, 66%);
}

.header {
  padding: 3rem 7rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url(../images/bg-header-desktop.png);
  background-size: cover;
}

.logo {
  margin-top: 10rem;
  height: 10rem;
  margin-bottom: 5rem;
}

.header-content {
  text-align: center;
  padding: 0 15rem;
  max-width: 100rem;
}

.heading-primary {
  font-size: 4.4rem;
  color: var(--clr-dark-graying-blue);
  letter-spacing: -0.05rem;
  margin-bottom: 1.6rem;
}

.header-description,
.cta-description {
  margin-bottom: 3.2rem;
}

.action-buttons {
  display: flex;
  gap: 1.6rem;
  justify-content: center;
}

.btn {
  font-size: 1.4rem;
  font-weight: 500;
  letter-spacing: 1px;
  padding: 1.2rem 2.4rem;
  border: none;
  border-radius: 100px;
  color: #fff;
  cursor: pointer;
}

.btn-ios {
  background-color: var(--clr-strong-cyan);
  box-shadow: 0 3px 5px 0 rgb(21, 99, 87);
  transition: all 0.4s;
}

.btn-ios:hover {
  background-color: #51c8b6;
}

.btn-mac {
  background-color: var(--clr-light-blue);
  box-shadow: 0 3px 5px 0 rgb(43, 64, 223);
  transition: all 0.4s;
}

.btn-mac:hover {
  background-color: #818fff;
}

.section-features {
  padding: 3rem 0 0 0;
}

.feature-container {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  column-gap: 6.4rem;
}

.feature-img {
  width: 100%;
  margin-left: -3rem;
}

.feature--text-box {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  gap: 4.8rem;
  margin-top: 5.2rem;
}

/* .feature-box {
  padding: 0 4rem;
} */

.feature-title {
  font-size: 2.4rem;
  font-weight: 600;
  color: var(--clr-dark-graying-blue);
  margin-bottom: 1rem;
}

.main-img {
  width: 100%;
}

.section--sub-features {
  padding: 4.4rem 0;
}

.sub-feature {
  text-align: center;
}

.icon-sub {
  margin-bottom: 3.2rem;
}

.sub-title {
  font-size: 2.4rem;
  font-weight: 600;
  color: var(--clr-dark-graying-blue);
  margin-bottom: 1.6rem;
}

.section--featured-in {
  padding: 9.4rem 0;
}

.featured-container {
  display: flex;
  justify-content: space-between;
}

.section-cta {
  padding: 2.4rem 0 9.6rem 0;
}

.cta-container {
  text-align: center;
}

.cta-content {
  padding: 3rem 20rem;
}

.footer {
  background-color: var(--clr-light-graying-blue);
  padding: 4.8rem 0;
  position: relative;
}

.footer-logo {
  height: 7rem;
}

.footer-link {
  display: block;
  font-size: 1.8rem;
  color: var(--clr-dark-graying-blue);
  text-decoration: none;
  margin-bottom: 2.4rem;
  font-weight: 500;
}

.social-links {
  position: absolute;
  right: 6rem;
  bottom: 7rem;

  display: flex;
  gap: 2rem;
}

.social-icon {
  height: 3rem;
  width: 3rem;
  color: var(--clr-dark-graying-blue);
}
